{% extends "base.html" %}

{% block content %}
<div class="card mx-auto" style="max-width: 500px;">
    <div class="card-header" style="background-color: #BFBDB4; color: #0D0D0D;">Dodaj prihod</div>
    <div class="card-body">
        <form method="POST">
            <div class="mb-3">
                <label for="amount" class="form-label">Iznos:</label>
                <input type="number" step="0.01" name="amount" id="amount" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Opis:</label>
                <input type="text" name="description" id="description" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-income w-100">Dodaj</button>
        </form>
    </div>
</div>
{% endblock %}
